DOCUMENT_PATH=
JWT_COOKIE_EXPIRE=
JWT_EXPIRE=
JWT_SECRET=
MONGODB_URI=
SCANNER_AUTO_SELECT=
SCANNER_DEBUG=
SCANNER_DEVICE_ID=
SCANNER_ENABLED=
SCANNER_FORMAT=
SCANNER_HISTORY_SIZE=
SCANNER_OCR_ENABLED=
SCANNER_RESOLUTION=
SCANNER_SIMULATE=
SCANNER_TIMEOUT=
UPLOAD_PATH=